.postContainer{
  padding: 5rem 0;
}
.postsContent{
  max-width: 700px;
  margin: 3rem  auto 3rem 23.125rem ;
  img{
    margin-bottom: 4rem;
  }
  a{
    display: block;

  &+a{
    margin-top: 3rem ;
  }
  strong{
    font-size: 1.75rem;
    display: block;
    line-height: 2.125rem;
    padding: 0.5rem 0;
  }
  p{
    font-size: 1.125;
    margin-bottom: 1.5rem;
    color: var(--body);
  }

  label,time{
    font-size: 0.875rem;
    color: var(--info);

  }
  label{
    margin-left: 1.5rem;
  }
  
  }
}

.hidden{
  display: none;
}