
.postsContent{
  max-width: 720px;
  padding: 5rem 0;
  margin: 3rem 0 ;

  button{
    color: var(--highlight);
    background: none;
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
    margin-top: 4rem; 
  }
  
  a{
    display: block;
    margin-top: 4rem;

  &+a{
    margin-top: 3rem ;
  }
  strong{
    font-size: 1.75rem;
    display: block;
    line-height: 2.125rem;
    padding: 0.5rem 0;
  }
  p{
    font-size: 1.125;
    margin-bottom: 1.5rem;
    color: var(--body);
  }
  
  }
}

.hidden{
  display: none;
}